table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    font-family: sans-serif;
}
th,tr:nth-child(2n) {
    background-color: gainsboro;
}
th, td {
    padding: 15px;
    border-bottom: 2px solid lightgrey;
}